Web servis i klijentske aplikacije/IzdavackaKuca/Metode.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:kuca" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:kuca" xmlns:intf="urn:kuca" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:kuca" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Knjiga">
    <sequence>
     <element name="ISBN" nillable="true" type="xsd:string"/>
     <element name="brojKnjiga" type="xsd:int"/>
     <element name="brojStrana" type="xsd:int"/>
     <element name="naslov" nillable="true" type="xsd:string"/>
     <element name="ocena" type="xsd:double"/>
     <element name="opis" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfKnjiga">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:Knjiga[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="NePostojiException">
    <sequence>
     <element name="poruka" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="promeniKnjiguRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:int"/>

      <wsdl:part name="in2" type="xsd:string"/>

      <wsdl:part name="in3" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="brisiKnjiguRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="NePostojiException">

      <wsdl:part name="fault" type="impl:NePostojiException"/>

   </wsdl:message>

   <wsdl:message name="vratiKnjigeResponse">

      <wsdl:part name="vratiKnjigeReturn" type="impl:ArrayOfKnjiga"/>

   </wsdl:message>

   <wsdl:message name="vratiKnjigeRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="brisiKnjiguResponse">

   </wsdl:message>

   <wsdl:message name="promeniKnjiguResponse">

   </wsdl:message>

   <wsdl:portType name="Metode">

      <wsdl:operation name="vratiKnjige" parameterOrder="in0">

         <wsdl:input message="impl:vratiKnjigeRequest" name="vratiKnjigeRequest"/>

         <wsdl:output message="impl:vratiKnjigeResponse" name="vratiKnjigeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="promeniKnjigu" parameterOrder="in0 in1 in2 in3">

         <wsdl:input message="impl:promeniKnjiguRequest" name="promeniKnjiguRequest"/>

         <wsdl:output message="impl:promeniKnjiguResponse" name="promeniKnjiguResponse"/>

         <wsdl:fault message="impl:NePostojiException" name="NePostojiException"/>

      </wsdl:operation>

      <wsdl:operation name="brisiKnjigu" parameterOrder="in0">

         <wsdl:input message="impl:brisiKnjiguRequest" name="brisiKnjiguRequest"/>

         <wsdl:output message="impl:brisiKnjiguResponse" name="brisiKnjiguResponse"/>

         <wsdl:fault message="impl:NePostojiException" name="NePostojiException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MetodeSoapBinding" type="impl:Metode">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="vratiKnjige">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="vratiKnjigeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:kuca" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="vratiKnjigeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:kuca" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="promeniKnjigu">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="promeniKnjiguRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:kuca" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="promeniKnjiguResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:kuca" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NePostojiException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NePostojiException" namespace="urn:kuca" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="brisiKnjigu">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="brisiKnjiguRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:kuca" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="brisiKnjiguResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:kuca" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="NePostojiException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NePostojiException" namespace="urn:kuca" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MetodeService">

      <wsdl:port binding="impl:MetodeSoapBinding" name="Metode">

         <wsdlsoap:address location="http://localhost:8080/axis/services/Metode"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
